{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title>finstella | Sing In</title>
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">  
    <link rel="stylesheet" href="{% static 'css/fellow.css' %}">
    <link rel="icon" type="image/png" href="{% static 'icons/finstellaBrowser.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
</head>
<body>
  
    <div class="main">
        <div class="top-part">
            
            <div class="logo-nav">
                <div class="logo">
                    {% comment %} <img src="{% static 'finstella.svg' %}" alt=""> {% endcomment %}
                     <a href="/">
            <img src="{% static 'finstella.svg' %}" alt="Finstella Logo">
                    </a>
   
                </div>
                
                <div class="nav">
                      {% comment %} <a href="#">WHY JOIN</a>  
                      <a href="#">OUR COMMUNITY</a>  
                      <a href="#">THE STELL INDEX</a>  
                      <a href="#">EVENTS</a>  
                      <a href="#">MEMBER STORIES</a>  
                      <a href="#"> APPLY FOR MEMBERSHIP</a>   {% endcomment %}
                </div>
            </div>

            <div class="d-earth">
                <div class="fellow" >
                    <div class="fellow-content" >
                        <div class="fellow-content-img">
                      <img src="{% static 'icons/the best decisions.svg' %}" alt="">
                        </div>
                         {% block loginlogout %}{% endblock %}
                    </div>
                
                   <div class="fellow-points">
                        <div class="f-point">
                            
                            <img src="{% static 'icons/shield-check.svg' %}" alt="">
                            <p>
                                Trusted Peers
                                <br>
                                <br>
                                Vetted. Verified.
                                <br>
                                Relavent
                            </p>
                                                   
                        </div>

                        <div class="f-point-gap">
                            <div class="dm-img">
                                <img src="" alt="">
                            </div>
                            <div class="left-border">
                                <p><br><br></p>
                            </div>
                        </div>
    
                        <div class="f-point">
                            <img src="{% static 'icons/lock.svg' %}" alt="">
                            <p>
                                Private & Protected
                                <br>
                                <br>
                                Chatham House Rule.
                                <br>
                                Absolute confidentiality.
                            </p>
                        </div>
                         <div class="f-point-gap">
                            <div class="dm-img">
                                <img src="" alt="">
                            </div>
                            <div class="left-border">
                                <p><br><br></p>
                            </div>
                        </div>
    
                        <div class="f-point">
                            <img src="{% static 'icons/users.svg' %}" alt="">
                            <p>
                                Peer To Peer
                                <br>
                                <br>
                                No hierarchy.<br>                                
                                Every voice matters.
                            </p>
                        </div>

                         <div class="f-point-gap">
                            <div class="dm-img">
                                <img src="" alt="">
                            </div>
                            <div class="left-border">
                                <p><br><br></p>
                            </div>
                        </div>
        
                        <div class="f-point">
                            <img src="{% static 'icons/broadcast.svg' %}" alt="">
                            <p>
                                Signal Over Noise<br><br>
                                No vendors. No pitches.<br>                                
                                Only real conversations.
                            </p>
                        </div>
                    </div>
                  
                    <div class="apply">
                        {% comment %} <a href="#" type=btn>APPLY FOR MEMBERSHIP</a> {% endcomment %}
                        <h6> *Membership by invitation and review only.</h6>
                    </div>

                </div>
            </div>
        </div>

        <div class="reality">
            <div class="reality-title">
                <h4>THE REALITY EVERY FINANCE LEADER FACES</h4>
                <h1>Every quarter brings a new challenge</h1>
            </div>
            <div class="reality-points">
                <div class="r-point">
                    <img src="{% static 'icons/chart growth.svg' %}" alt="">
                    <p>Managing Board
                        <br>
                       Expectations 
                    </p>
                </div>
                <div class="r-point">
                    <img src="{% static 'icons/globe.svg' %}" alt="">
                    <p>Balancing Buisness Priorities
                        <br>
                       with Finance Controls
                    </p>
                </div>
                <div class="r-point">
                <img src="{% static 'icons/gear.svg' %}" alt="">
                    <p>Transforming Finance
                        <br>
                       Functions
                    </p>
                </div>
                <div class="r-point">
                   <img src="{% static 'icons/users.svg' %}" alt="">
                    <p>Aligning Compliances
                        <br>
                       with Buisness Realities
                    </p>
                </div>
                <div class="r-point">
                    <img src="{% static 'icons/bank.svg' %}" alt="">
                    <p>Evaluating Technology
                        <br>
                       Investments
                    </p>
                </div>
                <div class="r-point">
                    <img src="{% static 'icons/balance scale.svg' %}" alt="">
                    <p>Prepairing for M&A,
                        <br>
                        Restructuring or
                        <br>
                        Fundraising
                        
                    </p>
                </div>
            </div>

            <div class="reality-answer">
                <p>
                    The answers rarely exist in textbooks. More often, they exist in the experience of someone
                    <br>
                    who has already walked the same path. That is why Finstella exists.
                </p>
            </div>
        </div>

        <div class="membership">
            <div class="membership-title">WHAT MEMBERSHIP GIVES YOU</div>
            <div class="membership-points">
                <div class='m-point'>
                    <img src="{% static 'icons/users.svg' %}" alt="">
                    <h1>Access</h1>
                    
                    <p>Private discussions with
                        <br>
                        vetted finance leaders
                        <br>
                        across industries.
                    </p>

                </div>
                <div class='m-point'>
                     <img src="{% static 'icons/light bulb.svg' %}" alt="">
                    <h1>Perspective</h1>
                    <p>Real-world experiences
                        <br>
                        and solutions from peers
                        <br>
                        who have been there.
                    </p>
                </div>
                
                <div class='m-point'>
                     <img src="{% static 'icons/megaphone.svg' %}" alt="">
                    <h1>Influence</h1>
                    <p>Contribute to the collective
                        <br>
                        thinking, shaping the future
                        <br>
                        of finance.
                    </p>
                </div>
                <div class='m-point'>
                    <img src="{% static 'icons/shield-check.svg' %}" alt="">
                    <h1>Trust</h1>
                    <p>A confidential environment
                        <br>
                        governed by Chatham House
                        <br>
                        principles.
                    </p>
                </div>
            </div>
        </div>

        <div class="stella-part">
          
            <div class="stella-deff">
                  <h1>
                    THE FINSTELLA DIFFERENCE
                </h1>
                <h2>Most communities reward attention.
                    <br>
                We reward contribution.
                <br>
        
            </h2>
                    
                <h2>
                    Most events focus on speakers.
                    <br>
                    We focus on conversations.
                </h2>    

                <h2>
                    Most networks are built around visibility.
                    <br>
                    We are built around trust.
                </h2>

                <h3>
                    Every member enters as a peer.
                </h3>

                <h3>
                    Every insight is protected.
                </h3>

                <h3>
                    Every discussion is designed to leave
                    <br>
                    members better informed than
                    <br>
                    When they arrived.
                </h3>    

            </div>




            <div class="stella-deff"><!--"our-principles">-->
                <h1>OUR FOUR PRINCIPLES</h1>
                <div class="principle-img">
                    <div class="tic">
                        <img src="{% static 'icons/check circle.svg' %}" alt="">
                    </div>
                    <div class="p-point">
                        <p>
                            <span class="p-point-head">Earned Membership</span>
                            <br>
                            
                            Verified members only.<br>
                            Entry barrier ensuring quality members.
                        </p>
                    </div>
                </div>
                <div class="principle-img">
                     <div class="tic">
                        <img src="{% static 'icons/check circle.svg' %}" alt="">
                    </div>
                    <div class="p-point">
                        <p>
                            <span class="p-point-head">Absolute Trust</span>
                            <br>
                            
                            Chatham House as the floor, not the ceiling.<br>
                            What is shared here belongs only to those in the room.
                        </p>
                    </div>
                </div>
                <div class="principle-img">
                     <div class="tic">
                        <img src="{% static 'icons/check circle.svg' %}" alt="">
                    </div>
                    <div class="p-point">
                       <p><span class="p-point-head">Peer Equality</span>
                        <br>
                        
                        No sponsors. No keynotes. No hierarchy.<br>
                        Every voice carries equal weight.
                       </p>

                    </div>
                </div>
                <div class="principle-img">
                     <div class="tic">
                        <img src="{% static 'icons/check circle.svg' %}" alt="">
                    </div>
                    <div class="p-point">
                        <p>
                           <span class="p-point-head"> Pure Signal</span>
                            <br>
                        
                            No vendor pitches. No algorithms. No agenda.<br>
                            Only unfiltered peer wisdom.
                        </p>
                    </div>
                </div>
            </div>



             <div class="stella-deff"><!--"our-principles">-->
                <h1>
                    THE STELLA INDEX
                    
                </h1>

                <h2>
                    The Collective Voice of
                    <br>
                    Finance Leaders
                    <br>
                    <br>
                    Finstella's proprietary peer sentiment tracker. <br> 
                    The unfiltered view of finance leaders
                    on macro <br> conditions,
                    capital allocation, talent markets and<br>
                    strategic risk.
                    <br>
                    <br>
                    
                </h2>
                
                <div class="index-tic">
                
                <div class="tic">
                    <img src="{% static 'icons/check circle.svg' %}" alt="">
                </div>
                <div class="index">
                    <h1>
                        Released Quarterly
                    </h1>
                </div>

                </div>
                <div class="index-tic">
                <div class="tic">
                    <img src="{% static 'icons/check circle.svg' %}" alt="">
                </div>
                <div class="index">
                    <h1>
                        Exclusive To Members
                    </h1>
                </div>
          
                </div>
                <div class="index-tic">
                          <div class="tic">
                    <img src="{% static 'icons/check circle.svg' %}" alt="">
                </div>
                <div class="index">
                    <h1>
                        Cited By Boards
                    </h1>
                </div>
                   
                </div>
                
                    <br>
                    {% comment %} <h2>Explore The Stella Index</h2> {% endcomment %}
                
            </div>
        </div>

<!-- Main Outer Wrapper -->
<div class="who-section-wrapper">
    <!-- LEFT SIDE: The Image -->
    <div class="who-img">
        <img src="{% static 'icons/Finstella Membership Card.png' %}" alt="Finstella Membership Card">
    </div>

    <!-- RIGHT SIDE: The Content Column -->
    <div class="who-content">
        <div class="who-belongs-title">WHO BELONGS HERE</div>

        <div class="who-lists">
            <!-- List 1: Belongs -->
            <div class="belongs">
                <div class="belongs-title">YOU BELONG HERE IF YOU ARE A:</div>
                <div class="belongs-point">
                    <div class="belongs-point-left">
                        <div class="b-point-tic"><img src="{% static 'icons/check circle.svg' %}" alt=""><h1>CFO</h1></div>
                        <div class="b-point-tic"><img src="{% static 'icons/check circle.svg' %}" alt=""><h1>Group CFO</h1></div>
                        <div class="b-point-tic"><img src="{% static 'icons/check circle.svg' %}" alt=""><h1>Finance Director</h1></div>
                        <div class="b-point-tic"><img src="{% static 'icons/check circle.svg' %}" alt=""><h1>Treasury Leader</h1></div>
                    </div>
                    <div class="belongs-point-right">
                        <div class="b-point-tic"><img src="{% static 'icons/check circle.svg' %}" alt=""><h1>Controller</h1></div>
                        <div class="b-point-tic"><img src="{% static 'icons/check circle.svg' %}" alt=""><h1>Head of FP&A</h1></div>
                        <div class="b-point-tic"><img src="{% static 'icons/check circle.svg' %}" alt=""><h1>Finance Transformation Leader</h1></div>
                        <div class="b-point-tic"><img src="{% static 'icons/check circle.svg' %}" alt=""><h1>VP / Senior Finance Leader</h1></div>
                    </div>
                </div>
            </div>

            <!-- List 2: Not Belongs -->
            <div class="not-belogns">
                <div class="not-belongs-title">THIS FELLOWSHIP IS NOT FOR:</div>
                <div class="not-belongs-points">
                    <div class="points-img"><img src="{% static 'icons/x circle.svg' %}" alt=""><h1>Vendors</h1></div>
                    <div class="points-img"><img src="{% static 'icons/x circle.svg' %}" alt=""><h1>Consultants Selling Services</h1></div>
                    <div class="points-img"><img src="{% static 'icons/x circle.svg' %}" alt=""><h1>Recruiters</h1></div>
                    <div class="points-img"><img src="{% static 'icons/x circle.svg' %}" alt=""><h1>Junior Professionals</h1></div>
                </div>
            </div>
        </div>
    </div>
</div>    

<div class="trust-moment">
  <div class="illustration-box" id="valueCarousel">
    
    <div class="carousel-slide active">
        <div class="house-placeholder">
            <img src="{% static 'absolute trust image.png' %}" alt="Absolute Trust">
        </div>
        <div class="trust-text-container">
            <p>
                <span class="trust-title">absolute trust</span><br>
                <span class="trust-desc">
                    Chatham House as the floor, not the ceiling.<br>
                    What is shared here belongs only to those in the room.
                </span>
            </p>
        </div>
    </div>

    <div class="carousel-slide">
        <div class="house-placeholder">
            <img src="{% static 'peer equality image.png' %}" alt="Second Value"> 
        </div>
        <div class="trust-text-container">
            <p>
                <span class="trust-title">peer equality</span><br>
                <span class="trust-desc">
                    No sponsors. No keynotes. No hierarchy.<br>
                    Every voice carries equal weight in this constellation.
                </span>
            </p>
        </div>
    </div>


    <div class="carousel-slide">
        <div class="house-placeholder">
            <img src="{% static 'pure signal.png' %}" alt="Second Value"> 
        </div>
        <div class="trust-text-container">
            <p>
                <span class="trust-title">pure signal</span><br>
                <span class="trust-desc">
                    No vendor pitches. No algorithms. No agenda.<br>
                    Only the unfiltered wisdom of peers who have been there.
                </span>
            </p>
        </div>
    </div>


     <div class="carousel-slide">
        <div class="house-placeholder">
            <img src="{% static 'exclusivity.png' %}" alt="Second Value"> 
        </div>
        <div class="trust-text-container">
            <p>
                <span class="trust-title">exclusivity</span><br>
                <span class="trust-desc">
                    The platform is exclusive to selected few who <br>
                    fall under the category of finance leaders
                </span>
            </p>
        </div>
        
    </div>



    </div>


            <div class="trust-content">
                <h1>The value of a trusted peer is not measured <br>
                    when things are going well.
                </h1>
                <h1>It is measured when a critical decision
                    must be made.
                </h1>

                <p>Finstella exists so finance leaders never have
                    <br>
                    to navigate those moments alone.
                </p>

                {% comment %} <div class="apply">
                    <a href="javascript:void(0);" onclick="document.getElementById('applyModal').style.display='flex'" type=btn>APPLY FOR MEMBERSHIP</a>
                </div> {% endcomment %}
                <h6> <a href="javascript:void(0);" onclick="document.getElementById('applyModal').style.display='flex'", style="font-family:inter; font-size:20px; text-decoration:none;color:#199A7A;" type=btn>APPLY FOR MEMBERSHIP </a>  *Membership by invitation and review only.</h6>
            </div>
        </div>

        
        
        <div class="bottom-pane">
        <h6>By proceeding to Sign Up or Sign In, you agree to Finstella's <a href="{% url 'terms' %}">Terms & Conditions</a>, <a href="{% url 'privacy' %}">Privacy Policy</a>, <a href="{% url 'disclaimer' %}">Disclaimer</a> and <a href="{% url 'about' %}">About Us</a>.</h6>
        </div>   

    </div><!--main-->


<script>
     // 1. CAROUSEL LOGIC
    document.addEventListener("DOMContentLoaded", function() {
        let slides = document.querySelectorAll(".carousel-slide");
        let currentSlide = 0;

        function showNextSlide() {
            // Remove 'active' class from the current slide
            slides[currentSlide].classList.remove("active");
            
            // Calculate the next slide index (loops back to 0 when it hits the end)
            currentSlide = (currentSlide + 1) % slides.length;
            
            // Add 'active' class to the new slide so it fades in
            slides[currentSlide].classList.add("active");
        }

        // Change the slide every 3.5 seconds (3500 milliseconds)
        setInterval(showNextSlide, 3500);
    });

</script>

</body>
</html>