<!-- Shree Ganeshay Namahhh...-->

{% extends "layout.html" %}


{% load static %}

{% block title %} | Topics{%endblock%}



{% block maincontent %}

<!-- Active Discussion div start-->
      
            <div style="border: 1px solid #e7e8e9; border-radius: 12px;margin-bottom:10px;padding-top:20px;">
                                                        
           {% for category in categories%}
            
                <div class="category-list" style="border-radius: 12px;padding: 10px 30px;">
        
                 

                  <div class="category-text" style="category-text:before:none;">
                    <a href="{% url 'topic_details' category.id %}" style="text-decoration:none">
                        <h5 style="font-family:inherit; font-weight:500; font-size:12px;color:#000;">
                   {{category.name }} 
                  </h5>
                  </a>

                  <h5 style="font-family:inherit; font-weight:500; font-size:12px;">{{category.total_threads}}</h5>
                 
                  </div>

                
                  </div>
   


           {% endfor %}
                 </div> 



          <!-- Active Discussion div end -->


{% endblock %}
